.ui_banner {
  width: 100vw;
  height: 60vh;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ui_banner .img_wrapper img {
  width: 80%;
}
.ui_banner .banner_contents_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui_banner .banner_contents_wrapper .circle {
  width: 60px;
  height: 60px;
  background-color: #f86338;
  border-radius: 50%;
  position: absolute;
  left: 40%;
}
.ui_banner .banner_contents_wrapper .circle_small {
  width: 30px;
  height: 30px;
  background: #f86338;
  border-radius: 50%;
  position: absolute;
  top: 6%;
  right: 25%;
}
.ui_banner .banner_contents_wrapper .circle_small_blue {
  width: 25px;
  height: 25px;
  background-color: cornflowerblue;
  bottom: 20%;
  position: absolute;
  border-radius: 50%;
}
.ui_banner .banner_contents_wrapper .banner_content .banner_title {
  font-size: 60px !important;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  font-family: "DM Sans", sans-serif;
}
.ui_banner .banner_contents_wrapper .banner_content .banner_disc {
  color: #666;
  font-weight: 500;
}

.ui_head_container {
  padding: 0.4rem 0px;
}
.ui_head_container .ui_top_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_head_container .ui_top_head .brand_txt {
  color: #f86338;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  text-decoration: none;
}
.ui_head_container .ui_top_head .brand_span {
  background-color: #f86338;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}
.ui_head_container .ui_top_head .top_right_element {
  font-family: "DM Sans", sans-serif;
}
.ui_head_container .ui_top_head .top_right_element .top_right_txt {
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;
  display: flex;
}
.ui_head_container .ui_top_head .top_right_element .top_right_txt li {
  padding: 0 10px;
  font-weight: 600;
}
.ui_head_container .ui_top_head .top_right_element .top_right_txt li h6 {
  margin-bottom: 0px;
}

.ui_navigation {
  background-color: #f4f7f8;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #DAEAF1;
}
.ui_navigation .navigation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_navigation .navigation_wrapper .link_list .nav-item {
  padding-top: 5px;
}
.ui_navigation .navigation_wrapper .link_list .nav-item .nav-link {
  font-size: 17px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}
.ui_navigation .navigation_wrapper .search_box {
  width: 600px;
  height: 40px;
  border: none;
  margin-right: 0px !important;
}
.ui_navigation .navigation_wrapper .top_icons {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
}
.ui_navigation .navigation_wrapper .top_icons li {
  padding: 1rem;
}
.ui_navigation .navigation_wrapper .top_icons li .icon {
  font-size: 20px;
}
.ui_navigation .navigation_wrapper .top_icons li sup {
  background-color: #f86338;
  padding: 3px 7px;
  border-radius: 50%;
  color: #ffffff;
  margin-left: -5px;
  font-size: 12px;
}

.ui_footer {
  padding: 7% 0;
}
.ui_footer .footer_img img {
  width: 100%;
}
.ui_footer .ui_footer_info h1 {
  font-size: 60px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: #f86338;
}
.ui_footer .ui_footer_info .footer_link h6 {
  font-weight: 500;
}
.ui_footer .social_icons .footer_icon_list {
  font-family: "DM Sans", sans-serif;
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-evenly;
}
.ui_footer .social_icons .footer_icon_list li {
  background-color: #f86338;
  width: 20p;
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  align-items: center;
  color: #ffffff;
}
.ui_footer .social_icons .footer_icon_list li i {
  font-size: 24px;
}

.ui-premimum-section {
  background-color: #f4f7f8;
  padding: 7% 0;
}
.ui-premimum-section .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.ui-premimum-section .text_filter_link {
  font-family: "DM Sans", sans-serif;
  padding: 4% 0;
}
.ui-premimum-section .text_filter_link .text_filter_ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ui-premimum-section .text_filter_link .text_filter_ul .txt_link {
  font-size: 20px;
  font-weight: 600;
  color: #999;
  cursor: pointer;
}
.ui-premimum-section .text_filter_link .text_filter_ul .active {
  color: #f86338;
}
.ui-premimum-section .ui_premimum_card {
  border: none;
}
.ui-premimum-section .ui_premimum_card .card-img-top {
  padding: 1rem 2rem;
}
.ui-premimum-section .ui_premimum_card .card-body {
  font-family: "DM Sans", sans-serif;
}
.ui-premimum-section .ui_premimum_card .card-body .card-category {
  font-weight: 600;
  color: #999;
}
.ui-premimum-section .ui_premimum_card .card-body .card-title {
  font-weight: 600;
  font-size: 25px;
}
.ui-premimum-section .ui_premimum_card .card-body .btn_link {
  text-decoration: none;
}
.ui-premimum-section .ui_premimum_card .card-body .btn_link .premimum_btn {
  background-color: #f86338;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.ui-premimum-section .section_btn {
  border: none;
  padding: 1rem 1.3rem;
  background-color: #f86338;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #ffffff;
}

.ui_top_items {
  padding: 7% 0;
  font-family: "DM Sans", sans-serif;
}
.ui_top_items .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.ui_top_items .head_sub_text {
  text-align: center;
  font-weight: 600;
  color: #999;
}

.ui_brand_story {
  background-color: #f4f7f8;
  padding: 7% 0;
}
.ui_brand_story .left_img_column img {
  width: 100%;
}
.ui_brand_story .right_content_column .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  text-align: left;
}
.ui_brand_story .ui_achievement {
  margin-top: 7%;
}
.ui_brand_story .ui_achievement .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.ui_brand_story .ui_achievement .achieve_img {
  margin-top: 2rem;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui_brand_story .ui_achievement .achieve_img img {
  width: 60px;
}
.ui_brand_story .ui_article_section .ui_article_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7%;
}
.ui_brand_story .ui_article_section .ui_article_container .article_card .card {
  border: none;
}
.ui_brand_story .ui_article_section .ui_article_container .article_card .card img {
  width: 100%;
}
.ui_brand_story .ui_article_section .ui_article_container .article_card .card .card-body .card-title {
  font-size: medium;
  font-family: "DM Sans", sans-serif;
}

.ui_news_wrapper {
  padding: 7% 0;
  background-color: #f4f7f8;
}
.ui_news_wrapper .ui_news_letter {
  background-color: #ffffff;
}
.ui_news_wrapper .ui_news_letter .news_letter {
  padding: 7% 0;
}
.ui_news_wrapper .ui_news_letter .news_letter .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.ui_news_wrapper .ui_news_letter .news_letter p {
  padding: 20px 100px;
  text-align: center;
}
.ui_news_wrapper .ui_news_letter .news_letter .news_letter_search_box {
  margin: 0px 100px;
}
.ui_news_wrapper .ui_news_letter .news_letter .news_letter_search_box .search_box {
  padding: 20px 30px;
  background-color: #f4f7f8;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ui_head_container {
    padding: 1rem 0px;
  }
  .ui_head_container .ui_top_head {
    text-align: center;
    display: inline;
  }
  .ui_head_container .ui_top_head .brand_txt {
    font-size: 32px;
  }
  .ui_navigation .navigation_wrapper {
    display: block;
  }
  .ui_navigation .navigation_wrapper .link_list {
    padding-left: 10px;
  }
  .ui_navigation .navigation_wrapper .search_box {
    width: 100%;
  }
  .ui_banner {
    height: 90vh;
  }
  .ui_banner .circle {
    width: 40px;
    height: 40px;
    left: unset;
    right: 10px;
  }
  .ui_banner .circle_small_blue {
    bottom: unset;
    top: 20%;
  }
  .ui_banner .banner_content .banner_title {
    font-size: 50px !important;
  }
  .ui-premimum-section .section_title {
    font-size: 36px !important;
  }
  .ui-premimum-section .text_filter_link {
    text-align: center;
  }
  .ui-premimum-section .text_filter_link .text_filter_ul {
    display: block !important;
  }
  .ui-premimum-section .text_filter_link .text_filter_ul .txt_link {
    font-size: 18px !important;
    font-weight: unset !important;
  }
  .ui_top_items .section_title {
    font-size: 36px !important;
  }
  .ui_top_items .head_sub_text {
    font-weight: unset;
    padding: 0 1.5rem;
  }
  .ui_brand_story .right_content_column .section_title {
    font-size: 36px !important;
  }
  .ui_achievement .section_title {
    font-size: 36px !important;
  }
  .ui_news_wrapper .ui_news_letter .news_letter .section_title {
    font-size: 36px !important;
  }
  .ui_news_wrapper .ui_news_letter .news_letter p {
    padding: 20px 10px !important;
  }
  .ui_news_wrapper .ui_news_letter .news_letter .news_letter_search_box {
    margin: 0px 10px !important;
  }
  .ui_news_wrapper .ui_news_letter .news_letter .news_letter_search_box .search_box {
    padding: 10px 15px !important;
  }
  .ui_footer .ui_footer_info {
    text-align: center;
    padding-top: 2%;
  }
  .ui_footer .ui_footer_info h1 {
    font-size: 50px !important;
  }
  .ui_footer .social_icons {
    padding-top: 2%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 768px) {
  .ui_head_container {
    padding: 1rem 0px;
  }
  .ui_head_container .ui_top_head {
    display: flex;
  }
  .ui_head_container .ui_top_head .brand_txt {
    font-size: 32px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .ui_navigation .navigation_wrapper {
    display: block;
  }
  .ui_navigation .navigation_wrapper .link_list {
    padding-left: 10px;
  }
  .ui_navigation .navigation_wrapper .search_box {
    width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=component-style.css.map */