@import '../var';
@import '../mixin';

//=====================================//
    //Banner style start
//====================================//
.ui_banner{
    width: 100vw;
    height: 60vh;
    font-family: $main_font;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .img_wrapper{
        img{
            width: 80%;
        }
    }
    .banner_contents_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    .circle{
        width: 60px;
        height: 60px;
        background-color: $primary_color;
        border-radius: 50%;
        position: absolute;
        left: 40%;
    }
    .circle_small{
        width: 30px;
        height: 30px;
        background: $primary_color;
        border-radius: 50%;
        position: absolute;
        top: 6%;
        right: 25%;
    }
    .circle_small_blue{
        width: 25px;
        height: 25px;
        background-color: cornflowerblue;
        bottom: 20%;
        position: absolute;
        border-radius: 50%;
    }
    .banner_content{
        .banner_title{
            font-size: 60px !important;
            @include section_title_h1;
            font-family: $main_font;
        }
        .banner_disc{
            color: #666;
            font-weight: 500;
        }
    }
}
}

//=====================================//
    //Header section style start
//====================================//

// Top Head Section ===== >>>
.ui_head_container {
    padding: .4rem 0px;
    .ui_top_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .brand_txt {
        color: $primary_color;
        font-family: $main_font;
        font-weight: 600;
        margin-bottom: 0px;
        text-decoration: none;
      }
      .brand_span {
        background-color: $primary_color;
        color: #ffffff;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px;
      }
      
      .top_right_element{
        font-family: $main_font;
        .top_right_txt{
            margin-bottom: 0px;
            list-style: none;
            padding-left: 0px;
            display: flex;
            li{
                padding: 0 10px;
                font-weight: 600;
                h6{
                    margin-bottom: 0px;
                }
            }
        }
      }
    }
  }
  
  // NavigationMenu section ===== >>>
  .ui_navigation {
    background-color: $color_gray;
    // padding: 0px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #DAEAF1;
    .navigation_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link_list{
          .nav-item{
              padding-top: 5px;
              .nav-link{
                font-size: 17px;
                font-weight: 600;
                font-family: $main_font;
                text-decoration: none;
              }
          }
      }
      .search_box{
          width: 600px;
          height: 40px;
          border: none;
          margin-right: 0px !important;
      }
      .top_icons{
          list-style: none;
          padding-left: 0px;
          margin-bottom: 0px;
          display: flex;
          li{
              padding: 1rem;
              .icon{
                  font-size: 20px;
                }
                sup{
                  background-color: $primary_color;
                  padding: 3px 7px;
                  border-radius: 50%;
                  color: #ffffff;
                  margin-left: -5px;
                  font-size: 12px;
                }
          }
      }
    }
  }

//=====================================//
    //Footer section style start
//====================================//

.ui_footer{
    padding: 7% 0;
    .footer_img{
        img{
            width: 100%;
        }
    }
    .ui_footer_info{
        h1{
            font-size: 60px;
            font-weight: 700;
            font-family: $main_font;
            color: $primary_color;
        }
        .footer_link{
            h6{
                font-weight: 500;
            }
        }
    }
    .social_icons{
        .footer_icon_list{
            font-family: $main_font;
            list-style: none;
            padding-left: 0px;
            display: flex;
            justify-content: space-evenly;
            li{
                background-color: $primary_color;
                width: 20p;
                width: 50px;
                height: 50px;
                justify-content: center;
                display: flex;
                border-radius: 50%;
                align-items: center;
                color: #ffffff;
                i{
                    font-size: 24px;
                }
            }
        }
    }
}

//=====================================//
     //Home component style start
//====================================//

// Premimum collection section ===== >>>
.ui-premimum-section{
    background-color: $color_gray;
    padding: 7% 0;
    .section_title{
        @include section_title_h1;
    }
    .text_filter_link{
        font-family: $main_font;
        padding: 4% 0;
        .text_filter_ul{
            list-style: none;
            padding-left: 0px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .txt_link{
                font-size: 20px;
                font-weight: 600;
                color: #999;
                cursor: pointer;
            }
            .active{
                color: $primary_color;
            }
        }
    }
    .ui_premimum_card{
        border: none;
        .card-img-top{
            padding: 1rem 2rem;
        }
        .card-body{
            font-family: $main_font;
            .card-category{
                font-weight: 600;
                color: #999;
            }
            .card-title{
                font-weight: 600;
                font-size: 25px;
            }
            .btn_link{
                text-decoration: none;
                .premimum_btn{
                    @include round_btn;
                    color: white;
                }
            }
        }
    }
    .section_btn{
        @include square_btn;
    }
}

// Top items section ===== >>>
.ui_top_items{
    padding: 7% 0;
    font-family: $main_font;
    .section_title{
        @include section_title_h1;
    }
    .head_sub_text{
        text-align: center;
        font-weight: 600;
        color: #999;
    }
}


// Brand story section ==== >>>
.ui_brand_story{
    background-color: $color_gray;
    padding: 7% 0;
    .left_img_column{
        img{
            width: 100%;
        }
    }
    .right_content_column{
        .section_title{
            @include section_title_h1;
            text-align: left;
        }
    }

    // Achievement section ===== >>>
    .ui_achievement{
        margin-top: 7%;
        .section_title{
            @include section_title_h1;
        }
        .achieve_img{
            margin-top: 2rem;
            background-color: #ffffff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 60px;
            }
        }
    }

    // Article section ===== >>>
    .ui_article_section{
        .ui_article_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 7%;
            .article_card{
                .card{
                    border: none;
                    img{
                        width: 100%;
                    }
                    .card-body{
                        .card-title{
                            @include title_h3;
                        }
                    }
                }
            }
        }
    }

}

// News Letters Section ===== >>>
.ui_news_wrapper{
    padding: 7% 0;
    background-color: $color_gray;
    .ui_news_letter{
        background-color: #ffffff;
        .news_letter{
            padding: 7% 0;
            .section_title{
                @include section_title_h1;
            }
            p{
                padding: 20px 100px;
                text-align: center;
            }
            .news_letter_search_box{
                margin: 0px 100px;
                .search_box{
                    padding: 20px 30px;
                    background-color: $color_gray;
                }
            }
        }
    }
}


//=====================================//
    //Mobile responsive style start
//====================================//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    // top_head ===>>>
    .ui_head_container{
        padding: 1rem 0px;
        .ui_top_head{
            text-align: center;
            display: inline;
            .brand_txt{
                font-size: 32px;
            }
        }
    }

    // navigation === >>>
  .ui_navigation {
    .navigation_wrapper{
        display: block;
        .link_list{
            padding-left: 10px;
        }
        .search_box{
            width: 100%;
        }
    }
  }
    // banner === >>>
    .ui_banner{
        height: 90vh;
        .circle{
            width: 40px;
            height: 40px;
            left: unset;
            right: 10px;
        }
        .circle_small_blue{
            bottom: unset;
            top: 20%;
        }
        .banner_content{
            .banner_title{
                font-size: 50px !important;
            }
        }
    }

    // premimum section === >>>
    .ui-premimum-section{
        .section_title{
            font-size: 36px !important;
        }
        .text_filter_link{
            text-align: center;
            .text_filter_ul{
                display: block !important;
                .txt_link{
                    font-size: 18px !important;
                    font-weight: unset !important;
                }
            }
        }
    }

    // Top items section ===== >>>
    .ui_top_items{
        .section_title{
            font-size: 36px !important;
        }
        .head_sub_text{
            font-weight: unset;
            padding: 0 1.5rem;
        }
    }

    // Brand story section ==== >>>
    .ui_brand_story{
        .right_content_column{
            .section_title{
                font-size: 36px !important;
            }
        }
    }

    // Achievement section ===== >>>
    .ui_achievement{
        .section_title{
            font-size: 36px !important;
        }
    }

    // News Letters Section ===== >>>
    .ui_news_wrapper{
        .ui_news_letter{
            .news_letter{
                .section_title{
                    font-size: 36px !important;
                }
                p{
                    padding: 20px 10px !important;
                }
                .news_letter_search_box{
                    margin: 0px 10px !important;
                    .search_box{
                        padding: 10px 15px !important;
                    }

                }
            }
        }
    }

    // footer
    .ui_footer{
        .ui_footer_info{
            text-align: center;
            padding-top: 2%;
            h1{
                font-size: 50px !important;
            }
        }
        .social_icons{
            padding-top: 2%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 768px) {
    // top_head ===>>>
    .ui_head_container{
        padding: 1rem 0px;
        .ui_top_head{
            display: flex;
            .brand_txt{
                font-size: 32px;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
    // navigation === >>>
  .ui_navigation {
    .navigation_wrapper{
        display: block;
        .link_list{
            padding-left: 10px;
        }
        .search_box{
            width: 100%;
        }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}