// common mixin elements styles ===== >>>

@mixin section_title_h1{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: $main_font;
    margin-bottom: 0px;
}

@mixin title_h3{
    font-size: medium;
    font-family: $main_font;
}

@mixin round_btn{
    background-color: $primary_color;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin square_btn{
    border: none;
    padding: 1rem 1.3rem;
    background-color: $primary_color;
    border-radius: 5px;
    font-family: $main_font;
    font-weight: 550;
    font-size: 18px;
    color: #ffffff;
}