@import "../var";
@import "../mixin.scss";

// ============================== //
// Shop External page
// ============================== //
.ui_shop_wrapper {
  background-color: $color_gray;
  padding: 7% 0;
  .shop_search_box {
    .shop_search {
      padding: 16px 24px;
      background-color: transparent;
      border-color: #666;
    }
  }
  .price_range {
    padding: 20px 0;
    .range_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .ui_shop_card_wrapper {
    border: none;
    .top-icon {
      width: 30px;
      height: 25px;
      background-color: #f4b499;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      border-radius: 10px;
      i {
        color: #ffffff;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .card-img-top {
      height: 350px;
      padding: 1rem 2rem;
    }
    .card-body {
      text-align: center;
    }
  }
  .ui_accordian {
    font-family: $main_font;
    ul {
      padding-left: 0px;
      .accordian_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .list-item {
          font-weight: 600;
          padding: 1rem 0;
          cursor: pointer;
        }
      }
    }
  }
}

// ============================== //
// ProductDetails External page
// ============================== //

.ui_product_details {
  padding: 7% 0;
  .product_right_column {
    font-family: $main_font;
    padding: 0 3%;
    .section_title {
      @include section_title_h1;
    }
    .product_price {
      font-weight: 700;
      color: $primary_color;
      font-size: 45px;
    }
    .rating_star {
      padding: 2rem 0;
      .dynamic-star-rating{
        .dynamic-star-container{
            .dynamic-star-svg{
                height: 40px !important;
                stroke: $primary_color !important;
            }
        }
      }
    }
    .product_details {
      padding-top: 2rem;
      font-family: $main_font;
      .details_title {
        font-weight: 600;
      }
      .details_desc {
        font-size: 18px;
        font-weight: 550;
        color: #666;
      }
    }
    .product_quantity {
      padding-top: 3%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .details_title {
        font-weight: 600;
      }
      .added_box {
        // background-color: $color_gray;
        .qty-btn {
          border: none;
          padding: 0.6rem 1rem;
          font-size: 12px;
          font-weight: 700;
          background-color: #E1E5EA;
          color: #666;
          border-radius: 10px;
        }
        .display-qty{
            border: none;
            padding: 0.3rem;
            width: 50px;
            color: $primary_color;
            font-size: 18px;
            font-weight: 600;
            // background-color: gray;
            text-align: center;
            border-radius: 10px;
        }
      }
    }
    .product_btn {
      @include square_btn;
    }
  }
}

// description section ===== >>>
.ui_product_description {
  background-color: $color_gray;
  font-family: $main_font;
  padding: 7% 0;
  .desc_left_column {
    .desc_title {
      font-weight: 600;
    }
    .desc_content {
      font-size: 18px;
      font-weight: 550;
      color: #666;
    }

    // review component style
    .ui_product_review {
      .review_title {
        font-family: $main_font;
        font-weight: 600;
      }
    }
  }
  .desc_right_column {
    img {
      width: 100%;
    }
  }
}

// ============================== //
// MyCart External page
// ============================== //

.ui_my_cart {
  padding: 7% 0;
  background-color: $color_gray;
  .section_title {
    @include section_title_h1;
  }
  .coupon_container {
    padding: 2.5rem;
    background-color: #ffffff;
    font-family: $main_font;
    .card {
      border: none !important;
      h4 {
        font-weight: 600;
      }
      input {
        margin: 1rem 0;
        padding: 10px;
        border-radius: 5px;
      }
      .coupon_btn {
        border: none;
        padding: 10px;
        background-color: $primary_color;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
  .cart_total_wrapper {
    font-family: $main_font;
    h4 {
      font-weight: 600;
    }
    .cart_total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left_start_title {
        p {
          font-weight: 600;
        }
      }
    }
    .checkout_btn {
      @include square_btn;
      width: 100%;
    }
  }

  // cart list ===== >>>
  .ui_cart_list {
    .cartList_right_col {
      font-family: $main_font;
      padding: 1rem 0;
      h5 {
        font-weight: 600;
      }
      .product_info {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
      }
      .product_price {
        font-weight: 700;
        color: $primary_color;
        font-size: 45px;
      }
      .detail_info {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cart-btn {
          border: none;
          color: $primary_color;
          padding: 10px 15px;
          background-color: transparent;
          border-radius: 5px;
          border: 1px solid $primary_color;
        }
      }
    }
  }
}
