.ui_shop_wrapper {
  background-color: #f4f7f8;
  padding: 7% 0;
}
.ui_shop_wrapper .shop_search_box .shop_search {
  padding: 16px 24px;
  background-color: transparent;
  border-color: #666;
}
.ui_shop_wrapper .price_range {
  padding: 20px 0;
}
.ui_shop_wrapper .price_range .range_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_shop_wrapper .ui_shop_card_wrapper {
  border: none;
}
.ui_shop_wrapper .ui_shop_card_wrapper .top-icon {
  width: 30px;
  height: 25px;
  background-color: #f4b499;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 10px;
}
.ui_shop_wrapper .ui_shop_card_wrapper .top-icon i {
  color: #ffffff;
}
.ui_shop_wrapper .ui_shop_card_wrapper .top-icon:hover {
  cursor: pointer;
}
.ui_shop_wrapper .ui_shop_card_wrapper .card-img-top {
  height: 350px;
  padding: 1rem 2rem;
}
.ui_shop_wrapper .ui_shop_card_wrapper .card-body {
  text-align: center;
}
.ui_shop_wrapper .ui_accordian {
  font-family: "DM Sans", sans-serif;
}
.ui_shop_wrapper .ui_accordian ul {
  padding-left: 0px;
}
.ui_shop_wrapper .ui_accordian ul .accordian_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_shop_wrapper .ui_accordian ul .accordian_list .list-item {
  font-weight: 600;
  padding: 1rem 0;
  cursor: pointer;
}

.ui_product_details {
  padding: 7% 0;
}
.ui_product_details .product_right_column {
  font-family: "DM Sans", sans-serif;
  padding: 0 3%;
}
.ui_product_details .product_right_column .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.ui_product_details .product_right_column .product_price {
  font-weight: 700;
  color: #f86338;
  font-size: 45px;
}
.ui_product_details .product_right_column .rating_star {
  padding: 2rem 0;
}
.ui_product_details .product_right_column .rating_star .dynamic-star-rating .dynamic-star-container .dynamic-star-svg {
  height: 40px !important;
  stroke: #f86338 !important;
}
.ui_product_details .product_right_column .product_details {
  padding-top: 2rem;
  font-family: "DM Sans", sans-serif;
}
.ui_product_details .product_right_column .product_details .details_title {
  font-weight: 600;
}
.ui_product_details .product_right_column .product_details .details_desc {
  font-size: 18px;
  font-weight: 550;
  color: #666;
}
.ui_product_details .product_right_column .product_quantity {
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_product_details .product_right_column .product_quantity .details_title {
  font-weight: 600;
}
.ui_product_details .product_right_column .product_quantity .added_box .qty-btn {
  border: none;
  padding: 0.6rem 1rem;
  font-size: 12px;
  font-weight: 700;
  background-color: #E1E5EA;
  color: #666;
  border-radius: 10px;
}
.ui_product_details .product_right_column .product_quantity .added_box .display-qty {
  border: none;
  padding: 0.3rem;
  width: 50px;
  color: #f86338;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
.ui_product_details .product_right_column .product_btn {
  border: none;
  padding: 1rem 1.3rem;
  background-color: #f86338;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #ffffff;
}

.ui_product_description {
  background-color: #f4f7f8;
  font-family: "DM Sans", sans-serif;
  padding: 7% 0;
}
.ui_product_description .desc_left_column .desc_title {
  font-weight: 600;
}
.ui_product_description .desc_left_column .desc_content {
  font-size: 18px;
  font-weight: 550;
  color: #666;
}
.ui_product_description .desc_left_column .ui_product_review .review_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
.ui_product_description .desc_right_column img {
  width: 100%;
}

.ui_my_cart {
  padding: 7% 0;
  background-color: #f4f7f8;
}
.ui_my_cart .section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.ui_my_cart .coupon_container {
  padding: 2.5rem;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
}
.ui_my_cart .coupon_container .card {
  border: none !important;
}
.ui_my_cart .coupon_container .card h4 {
  font-weight: 600;
}
.ui_my_cart .coupon_container .card input {
  margin: 1rem 0;
  padding: 10px;
  border-radius: 5px;
}
.ui_my_cart .coupon_container .card .coupon_btn {
  border: none;
  padding: 10px;
  background-color: #f86338;
  color: #ffffff;
  font-weight: 600;
}
.ui_my_cart .cart_total_wrapper {
  font-family: "DM Sans", sans-serif;
}
.ui_my_cart .cart_total_wrapper h4 {
  font-weight: 600;
}
.ui_my_cart .cart_total_wrapper .cart_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_my_cart .cart_total_wrapper .cart_total .left_start_title p {
  font-weight: 600;
}
.ui_my_cart .cart_total_wrapper .checkout_btn {
  border: none;
  padding: 1rem 1.3rem;
  background-color: #f86338;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
}
.ui_my_cart .ui_cart_list .cartList_right_col {
  font-family: "DM Sans", sans-serif;
  padding: 1rem 0;
}
.ui_my_cart .ui_cart_list .cartList_right_col h5 {
  font-weight: 600;
}
.ui_my_cart .ui_cart_list .cartList_right_col .product_info {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.ui_my_cart .ui_cart_list .cartList_right_col .product_price {
  font-weight: 700;
  color: #f86338;
  font-size: 45px;
}
.ui_my_cart .ui_cart_list .cartList_right_col .detail_info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui_my_cart .ui_cart_list .cartList_right_col .detail_info .cart-btn {
  border: none;
  color: #f86338;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #f86338;
}/*# sourceMappingURL=pages-style.css.map */